@{
    ViewData["Title"] = "Admin Settings";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="h2">Admin Settings</h1>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>System Settings</h5>
                </div>
                <div class="card-body">
                    <p>Admin settings and configuration options will be available here.</p>
                </div>
            </div>
        </div>
    </div>
</div>
