@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Your Password?";
}

<section style="padding-top: 100px; padding-bottom:100px;">
    <!-- add padding top -->
    <div class="container">
        <div class="row justify-content-center">

            <div class="container">
                <div class="row">
                    <!--Middle Part Start-->
                    <div id="content" class="col-sm-12">
                        <h2>@ViewData["Title"]</h2>
                        <h4>Enter your email address</h4>
                        <hr />
                        <div class="row">
                            <div class="col-md-4">
                                <form asp-action="ForgotPassword" method="post">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group" style="margin-bottom:20px;">
                                        <label asp-for="Email"></label>
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>

                                    <button type="submit" class="wePrimaryButton">Send</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</section>