@{
    ViewData["Title"] = "Account Disabled";
}

<section style="padding-top: 100px; padding-bottom:100px;">
    <!-- add padding top -->
    <div class="container">
        <div class="row justify-content-center">
            <header>
                <h2 class="text-danger">@ViewData["Title"]</h2>
                <p class="text-danger">Access to this Account is not possible. Please try again later.</p>
            </header>
        </div>
    </div>
</section>