@{
    ViewData["Title"] = "Reset password confirmation";
  
}

<section style="padding-top: 100px; padding-bottom:100px;">
    <!-- add padding top -->
    <div class="container">
        <div class="row justify-content-center">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-12" style="text-align:center">
                <center>
                    <img src="~/plugins/images/admin-logo-dark.png" class="img-responsive" height="200px;">
                </center>

                <h3 class="text-success">
                    Password reset successfully
                </h3>
                <strong>
                    To log in to your account, click <a href="@Url.Action("Login")">here</a>.
                </strong>
            </div>

        </div>
    </div>
</section>