@model ResetPasswordViewModel
@{
    ViewData["Title"] = "بازنشانی گذرواژه";
 
}
<section style="padding-top: 100px; padding-bottom:100px;">
    <!-- add padding top -->
    <div class="container">
        <div class="row justify-content-center">

            <h2>@ViewData["Title"]</h2>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input asp-for="Code" type="hidden" />
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" placeholder="Email ..." />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" placeholder=" New Password ..." />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="  Repeat New Password ..." />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="wePrimaryButton">Reset Password</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>